
/* Resetting Margins */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: #1E2644;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, button {
  font-family: 'Poppins', sans-serif;
}